.boxContainer {
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  padding: 24px;
  display: flex;
  max-width: 840px;
  margin-bottom: 32px;
}
.containerDesc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imgBox {
  width: 290px;
  height: 310px;
  border-radius: 10px;
}
.descBox {
  margin-left: 24px;
}
.boxName {
  display: flex;
  justify-content: space-between;
}
.rateBox {
  color: var(--color-black-main);
  font-weight: 400;
  line-height: 24px;
  margin-right: 16px;
  text-decoration: underline;
}
.iconReview {
  fill: var(--color-yellow-main);
  top: 2px;
  position: relative;
}
.nameProduct {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
  color: var(--color-black-main);
}
.descProduct {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-main);
}
.locationProduct {
  color: var(--color-black-main);
  font-weight: 400;
  line-height: 24px;
}
.containerLocal {
  margin-bottom: 24px;
}
.iconLocation {
  fill: transparent;
  stroke: var(--color-black-main);
  margin-right: 4px;
}
.priceProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
  color: var(--color-black-main);
}
.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonLoad {
  font-family: "Inter", sans-serif;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 200px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  font-weight: 500;
  line-height: 24px;
  transition: 0.1ms;
  &:hover {
    border-color: var(--color-red-main);
  }
}
.buttonItem {
  color: var(--color-black-main);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.boxShow {
  margin-top: 24px;
}
.buttonShow {
  color: #fff;
  padding: 16px 40px;
  border-radius: 200px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: var(--color-red-main);
}
.detailsButtonsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 24px;
}
.detailsButton {
  padding: 12px 18px;
  background-color: #f2f4f7;
  color: var(--color-black-main);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  display: flex;
  gap: 4px;
  border-radius: 100px;
}
