.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.navBar .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
}

.navBar .listOptions {
  display: flex;
}

.navBar .listOptions .listItems {
  list-style: none;
}

.navBar .listOptions .listItems .linkItem {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.navBar .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.navBar .menu span {
  height: 0.4rem;
  width: 100%;

  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  .navBar .menu {
    display: flex;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navBar .listOptions {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navBar .listOptions.open {
    display: flex;
  }

  .navBar .listOptions .listItems {
    width: 100%;
    text-align: center;
  }

  .navBar .listOptions .listItems .linkItem {
    margin: 0.2rem 0.5rem;
  }
}
.header {
  padding: 32px 64px;
}
